In [361]:
import sys  
import os  
import pandas as pd  
sys.path.insert(0, '..')
from AT_funs import *
from datetime import datetime, date

In [362]:
K = 1
lot = 1
port = pd.read_excel('PTF.xlsx')
port['Side'] = np.sign(port['Shares'])
ticker_list = port['ticker']
# port = port.set_index('ticker')  
port['date_entry'] = pd.to_datetime(port['date_entry']) 
port

,date_entry,Name,ticker,Beta,Shares,SL,Cost,Side
0,2024-05-07,A2A,A2A.MI.xlsx,1.0033,1000,1.8100,1.89810,1
1,2024-05-20,ACEA,ACE.MI.xlsx,0.7507,-93,18.5000,16.86000,-1
2,2024-05-23,ITALGAS,IG.MI.xlsx,0.5374,-285,5.5000,4.93000,-1
3,2024-05-27,DAMICO,DIS.MI.xlsx,0.7485,161,6.3300,6.99000,1
4,2024-05-30,BPER,BPE.MI.xlsx,1.4327,206,4.6075,4.89000,1
5,2024-05-31,FINCANTIERI,FCT.MI.xlsx,1.2024,-3571,0.6100,0.59600,-1
6,2024-05-31,BANCA GEN,BGN.MI.xlsx,1.0257,-87,38.9557,38.40000,-1
7,2024-05-30,MAIRE,MAIRE.MI.xlsx,1.5580,130,7.2920,7.67769,1
8,2023-12-15,STM,STMMI.MI.xlsx,1.2567,89,34.8000,43.52217,1
9,2024-05-06,TIP,TIP.MI.xlsx,0.7381,-50,10.0000,9.12000,-1

In [363]:
filename_bm = 'FTSEMIB.MI.xlsx'
bm_df = read_xlsx(filename_bm)
bm_name = filename_bm.replace('xlsx', '')
bm_df['date'] = pd.to_datetime(bm_df['date'])
bm_df['date'] = bm_df['date'].dt.strftime('%Y-%m-%d')  
bm_df['date'] = pd.to_datetime(bm_df['date'])  
bm_price = bm_df['close'].iloc[-1]
bm_cost = bm_df['close'].iloc[0]
bm_df = bm_df.rename(columns={'close': 'Cost_bm'})  
bm_df

,date,volume,high,low,open,Cost_bm,adj_close,ticker
0,2016-01-04,545475000,21194.000000,20702.000000,21186.000000,20734.000000,20734.000000,FTSEMIB.MI
1,2016-01-05,422559500,20983.000000,20722.000000,20938.000000,20983.000000,20983.000000,FTSEMIB.MI
2,2016-01-06,508538100,20931.000000,20373.000000,20922.000000,20422.000000,20422.000000,FTSEMIB.MI
3,2016-01-07,749548400,20289.000000,19629.000000,19778.000000,20189.000000,20189.000000,FTSEMIB.MI
4,2016-01-08,550008300,20350.000000,19869.000000,20189.000000,19869.000000,19869.000000,FTSEMIB.MI
...,...,...,...,...,...,...,...,...
2134,2024-05-24,489470000,34526.000000,34043.000000,34238.000000,34491.000000,34491.000000,FTSEMIB.MI
2135,2024-05-27,354520400,34762.000000,34457.000000,34503.000000,34762.000000,34762.000000,FTSEMIB.MI
2136,2024-05-28,391101000,34873.000000,34534.000000,34861.000000,34660.000000,34660.000000,FTSEMIB.MI
2137,2024-05-29,450281000,34637.000000,34073.000000,34596.000000,34151.000000,34151.000000,FTSEMIB.MI
2138,2024-05-30,0,34476.660156,34009.691406,34015.699219,34447.570312,34447.570312,FTSEMIB.MI

In [364]:
filename = ticker_list
date_entry = port['date_entry']
date_entry = np.array(date_entry, dtype='datetime64')  
folder_path = os.getcwd()

In [365]:
price_df = []
for i in range(len(filename)):  
    f = filename[i]
    de = date_entry[i]
    df = read_xlsx(f)
    df['date'] = pd.to_datetime(df['date'])
    df['name'] = str(f)
    df = df[df['date'] >= de] 
    price_df.append(df)
price_df = pd.concat(price_df, axis=0, ignore_index=True) 
price_df['date'] = pd.to_datetime(price_df['date'])
price_df['date'] = price_df['date'].dt.strftime('%Y-%m-%d')  
price_df['date'] = pd.to_datetime(price_df['date'])  
price_df = price_df.rename(columns={'close': 'Price'})

In [366]:
price_df

,date,volume,high,low,open,Price,adj_close,ticker,name
0,2024-05-07,14180804,1.9075,1.8805,1.8820,1.8920,1.802048,A2A.MI,A2A.MI.xlsx
1,2024-05-08,15924147,1.9130,1.8870,1.8970,1.9115,1.820621,A2A.MI,A2A.MI.xlsx
2,2024-05-09,13657677,1.9240,1.8945,1.9100,1.9185,1.827288,A2A.MI,A2A.MI.xlsx
3,2024-05-10,18455436,1.9460,1.9200,1.9305,1.9245,1.833003,A2A.MI,A2A.MI.xlsx
4,2024-05-13,21785909,1.9785,1.9240,1.9265,1.9670,1.873482,A2A.MI,A2A.MI.xlsx
...,...,...,...,...,...,...,...,...,...
167,2024-05-24,275006,9.5500,9.3700,9.5500,9.4000,9.400000,TIP.MI,TIP.MI.xlsx
168,2024-05-27,158625,9.5900,9.3500,9.3700,9.5500,9.550000,TIP.MI,TIP.MI.xlsx
169,2024-05-28,188341,9.7400,9.4000,9.5200,9.5700,9.570000,TIP.MI,TIP.MI.xlsx
170,2024-05-29,114633,9.6100,9.3700,9.5800,9.3700,9.370000,TIP.MI,TIP.MI.xlsx
171,2024-05-30,110168,9.4400,9.2000,9.3100,9.3500,9.350000,TIP.MI,TIP.MI.xlsx

In [367]:
port = pd.merge(port, bm_df[['date', 'Cost_bm']], left_on='date_entry', right_on='date', how='left')

In [368]:
port = port.drop('date', axis=1)
# to be changed
port['Cost_bm'] = port['Cost_bm'].fillna(bm_price) 
#
port['Price_bm'] = bm_price
port['rCost'] = port['Cost'] / port['Cost_bm']
port

,date_entry,Name,ticker,Beta,Shares,SL,Cost,Side,Cost_bm,Price_bm,rCost
0,2024-05-07,A2A,A2A.MI.xlsx,1.0033,1000,1.8100,1.89810,1,34242.000000,34447.570312,0.000055
1,2024-05-20,ACEA,ACE.MI.xlsx,0.7507,-93,18.5000,16.86000,-1,34825.000000,34447.570312,0.000484
2,2024-05-23,ITALGAS,IG.MI.xlsx,0.5374,-285,5.5000,4.93000,-1,34468.000000,34447.570312,0.000143
3,2024-05-27,DAMICO,DIS.MI.xlsx,0.7485,161,6.3300,6.99000,1,34762.000000,34447.570312,0.000201
4,2024-05-30,BPER,BPE.MI.xlsx,1.4327,206,4.6075,4.89000,1,34447.570312,34447.570312,0.000142
5,2024-05-31,FINCANTIERI,FCT.MI.xlsx,1.2024,-3571,0.6100,0.59600,-1,34447.570312,34447.570312,0.000017
6,2024-05-31,BANCA GEN,BGN.MI.xlsx,1.0257,-87,38.9557,38.40000,-1,34447.570312,34447.570312,0.001115
7,2024-05-30,MAIRE,MAIRE.MI.xlsx,1.5580,130,7.2920,7.67769,1,34447.570312,34447.570312,0.000223
8,2023-12-15,STM,STMMI.MI.xlsx,1.2567,89,34.8000,43.52217,1,30374.000000,34447.570312,0.001433
9,2024-05-06,TIP,TIP.MI.xlsx,0.7381,-50,10.0000,9.12000,-1,33987.000000,34447.570312,0.000268

In [369]:
port = pd.merge(port, price_df[['date', 'Price', 'name']], left_on=['date_entry', 'ticker'], right_on=['date', 'name'], how='left')
port = port.drop('date', axis=1)
port = port.drop('name', axis=1)
port

,date_entry,Name,ticker,Beta,Shares,SL,Cost,Side,Cost_bm,Price_bm,rCost,Price
0,2024-05-07,A2A,A2A.MI.xlsx,1.0033,1000,1.8100,1.89810,1,34242.000000,34447.570312,0.000055,1.892000
1,2024-05-20,ACEA,ACE.MI.xlsx,0.7507,-93,18.5000,16.86000,-1,34825.000000,34447.570312,0.000484,16.879999
2,2024-05-23,ITALGAS,IG.MI.xlsx,0.5374,-285,5.5000,4.93000,-1,34468.000000,34447.570312,0.000143,4.822000
3,2024-05-27,DAMICO,DIS.MI.xlsx,0.7485,161,6.3300,6.99000,1,34762.000000,34447.570312,0.000201,6.950000
4,2024-05-30,BPER,BPE.MI.xlsx,1.4327,206,4.6075,4.89000,1,34447.570312,34447.570312,0.000142,4.944000
5,2024-05-31,FINCANTIERI,FCT.MI.xlsx,1.2024,-3571,0.6100,0.59600,-1,34447.570312,34447.570312,0.000017,NaN
6,2024-05-31,BANCA GEN,BGN.MI.xlsx,1.0257,-87,38.9557,38.40000,-1,34447.570312,34447.570312,0.001115,NaN
7,2024-05-30,MAIRE,MAIRE.MI.xlsx,1.5580,130,7.2920,7.67769,1,34447.570312,34447.570312,0.000223,7.600000
8,2023-12-15,STM,STMMI.MI.xlsx,1.2567,89,34.8000,43.52217,1,30374.000000,34447.570312,0.001433,46.840000
9,2024-05-06,TIP,TIP.MI.xlsx,0.7381,-50,10.0000,9.12000,-1,33987.000000,34447.570312,0.000268,9.220000

In [370]:
port.loc[port['ticker'] == 'FCT.MI.xlsx', 'Price'] = port.loc[port['ticker'] == 'FCT.MI.xlsx', 'Price'].fillna(0.586)
port.loc[port['ticker'] == 'BGN.MI.xlsx', 'Price'] = port.loc[port['ticker'] == 'BGN.MI.xlsx', 'Price'].fillna(38.5)

In [371]:
port['rPrice'] = port['Price'] / port['Price_bm']
port

,date_entry,Name,ticker,Beta,Shares,SL,Cost,Side,Cost_bm,Price_bm,rCost,Price,rPrice
0,2024-05-07,A2A,A2A.MI.xlsx,1.0033,1000,1.8100,1.89810,1,34242.000000,34447.570312,0.000055,1.892000,0.000055
1,2024-05-20,ACEA,ACE.MI.xlsx,0.7507,-93,18.5000,16.86000,-1,34825.000000,34447.570312,0.000484,16.879999,0.000490
2,2024-05-23,ITALGAS,IG.MI.xlsx,0.5374,-285,5.5000,4.93000,-1,34468.000000,34447.570312,0.000143,4.822000,0.000140
3,2024-05-27,DAMICO,DIS.MI.xlsx,0.7485,161,6.3300,6.99000,1,34762.000000,34447.570312,0.000201,6.950000,0.000202
4,2024-05-30,BPER,BPE.MI.xlsx,1.4327,206,4.6075,4.89000,1,34447.570312,34447.570312,0.000142,4.944000,0.000144
5,2024-05-31,FINCANTIERI,FCT.MI.xlsx,1.2024,-3571,0.6100,0.59600,-1,34447.570312,34447.570312,0.000017,0.586000,0.000017
6,2024-05-31,BANCA GEN,BGN.MI.xlsx,1.0257,-87,38.9557,38.40000,-1,34447.570312,34447.570312,0.001115,38.500000,0.001118
7,2024-05-30,MAIRE,MAIRE.MI.xlsx,1.5580,130,7.2920,7.67769,1,34447.570312,34447.570312,0.000223,7.600000,0.000221
8,2023-12-15,STM,STMMI.MI.xlsx,1.2567,89,34.8000,43.52217,1,30374.000000,34447.570312,0.001433,46.840000,0.001360
9,2024-05-06,TIP,TIP.MI.xlsx,0.7381,-50,10.0000,9.12000,-1,33987.000000,34447.570312,0.000268,9.220000,0.000268

In [372]:
port['rSL'] = port['SL'] / port['Price_bm']
BV = port['Shares'] * port['Cost']
MV = port['Shares'] * port['Price']
rMV = port['Shares'] * port['rPrice']
MV

0    1891.999960
1   -1569.839922
2   -1374.270008
3    1118.949969
4    1018.463952
5   -2092.606000
6   -3349.500000
7     987.999988
8    4168.760014
9    -461.000013
dtype: float64

In [373]:
port['rR'] = (port['rCost'] - port['rSL'])
port['Weight'] = round(MV.div(abs(MV).sum()),3)
port['rRisk'] = -round(np.maximum(0,(port['rR'] * port['Shares'])/K),14)
port['rRAR'] = round( (port['rPrice'] - port['rCost'])/port['rR'],1)
port['rCTR'] = round(port['Shares'] * (port['rPrice']-port['rCost'])/ K,14)
port['CTR'] = round(port['Shares'] * (port['Price']-port['Cost'])/ K,14)
port_long = port[port['Side']>0]
port_short = port[port['Side']<0]
concentration = (port_long['Side'].count()-port_short['Side'].count())/port['Side'].count()

In [374]:
gross = round(abs(MV).sum() / K,3) 
net = round(MV.sum()/abs(MV).sum(),3)
net_Beta = round((MV* port['Beta']).sum()/abs(MV).sum(),2)
print('Gross Exposure',gross,'Net Exposure',net,'Net Beta',net_Beta,'concentration',concentration)

Gross Exposure 18033.39 Net Exposure 0.019 Net Beta 0.15 concentration 0.0

In [375]:
port

,date_entry,Name,ticker,Beta,Shares,SL,Cost,Side,Cost_bm,Price_bm,rCost,Price,rPrice,rSL,rR,Weight,rRisk,rRAR,rCTR,CTR
0,2024-05-07,A2A,A2A.MI.xlsx,1.0033,1000,1.8100,1.89810,1,34242.000000,34447.570312,0.000055,1.892000,0.000055,0.000053,2.888307e-06,0.105,-0.002888,-0.2,-0.000508,-6.100040
1,2024-05-20,ACEA,ACE.MI.xlsx,0.7507,-93,18.5000,16.86000,-1,34825.000000,34447.570312,0.000484,16.879999,0.000490,0.000537,-5.291308e-05,-0.087,-0.004921,-0.1,-0.000547,-1.859922
2,2024-05-23,ITALGAS,IG.MI.xlsx,0.5374,-285,5.5000,4.93000,-1,34468.000000,34447.570312,0.000143,4.822000,0.000140,0.000160,-1.663171e-05,-0.076,-0.004740,0.2,0.000869,30.779992
3,2024-05-27,DAMICO,DIS.MI.xlsx,0.7485,161,6.3300,6.99000,1,34762.000000,34447.570312,0.000201,6.950000,0.000202,0.000184,1.732412e-05,0.062,-0.002789,0.0,0.000109,-6.440031
4,2024-05-30,BPER,BPE.MI.xlsx,1.4327,206,4.6075,4.89000,1,34447.570312,34447.570312,0.000142,4.944000,0.000144,0.000134,8.200869e-06,0.056,-0.001689,0.2,0.000323,11.123952
5,2024-05-31,FINCANTIERI,FCT.MI.xlsx,1.2024,-3571,0.6100,0.59600,-1,34447.570312,34447.570312,0.000017,0.586000,0.000017,0.000018,-4.064147e-07,-0.116,-0.001451,0.7,0.001037,35.710000
6,2024-05-31,BANCA GEN,BGN.MI.xlsx,1.0257,-87,38.9557,38.40000,-1,34447.570312,34447.570312,0.001115,38.500000,0.001118,0.001131,-1.613176e-05,-0.186,-0.001403,-0.2,-0.000253,-8.700000
7,2024-05-30,MAIRE,MAIRE.MI.xlsx,1.5580,130,7.2920,7.67769,1,34447.570312,34447.570312,0.000223,7.600000,0.000221,0.000212,1.119644e-05,0.055,-0.001456,-0.2,-0.000293,-10.099712
8,2023-12-15,STM,STMMI.MI.xlsx,1.2567,89,34.8000,43.52217,1,30374.000000,34447.570312,0.001433,46.840000,0.001360,0.001010,4.226449e-04,0.231,-0.037615,-0.2,-0.006508,295.286884
9,2024-05-06,TIP,TIP.MI.xlsx,0.7381,-50,10.0000,9.12000,-1,33987.000000,34447.570312,0.000268,9.220000,0.000268,0.000290,-2.195834e-05,-0.026,-0.001098,0.0,0.000034,-5.000013

In [376]:
rnet = round(rMV.sum()/abs(rMV).sum(),3)
rnet_Beta = round((rMV* port['Beta']).sum()/abs(rMV).sum(),2)
print('rGross Exposure',gross,'rNet Exposure',rnet,'rNet Beta',rnet_Beta)

rGross Exposure 18033.39 rNet Exposure 0.019 rNet Beta 0.15

In [377]:
port[['ticker', 'Side', 'Shares', 'Weight', 'rRisk', 'rRAR', 'rCTR', 'CTR']].sort_values(by=['Side','rRAR'] )

          ticker  Side  Shares  Weight     rRisk  rRAR      rCTR         CTR
6    BGN.MI.xlsx    -1     -87  -0.186 -0.001403  -0.2 -0.000253   -8.700000
1    ACE.MI.xlsx    -1     -93  -0.087 -0.004921  -0.1 -0.000547   -1.859922
9    TIP.MI.xlsx    -1     -50  -0.026 -0.001098   0.0  0.000034   -5.000013
2     IG.MI.xlsx    -1    -285  -0.076 -0.004740   0.2  0.000869   30.779992
5    FCT.MI.xlsx    -1   -3571  -0.116 -0.001451   0.7  0.001037   35.710000
0    A2A.MI.xlsx     1    1000   0.105 -0.002888  -0.2 -0.000508   -6.100040
7  MAIRE.MI.xlsx     1     130   0.055 -0.001456  -0.2 -0.000293  -10.099712
8  STMMI.MI.xlsx     1      89   0.231 -0.037615  -0.2 -0.006508  295.286884
3    DIS.MI.xlsx     1     161   0.062 -0.002789   0.0  0.000109   -6.440031
4    BPE.MI.xlsx     1     206   0.056 -0.001689   0.2  0.000323   11.123952

In [378]:
port[['Side', 'Weight', 'rRisk', 'rRAR', 'rCTR', 'CTR']].groupby('Side').sum()

      Weight     rRisk  rRAR      rCTR         CTR
Side
-1    -0.491 -0.013614   0.6  0.001140   50.930057
 1     0.509 -0.046438  -0.4 -0.006878  283.771052

In [379]:
adjust_long = adjust_short  =  -0.01 
pro_rata_long = port_long['rRisk'] / (port_long['rRisk'].sum() * port_long['rRAR'])
risk_adj_long = (abs(adjust_long) * pro_rata_long * K / port_long['rR'] // lot) * lot
shares_adj_long =  np.minimum(risk_adj_long, port_long['Shares'])*np.sign(adjust_long)
shares_adj_long

0    1077.0
3       NaN
4    -206.0
7     140.0
8      96.0
dtype: float64

In [380]:
pro_rata_short = port_short['rRisk'] / (port_short['rRisk'].sum() * port_short['rRAR'])
risk_adj_short = (abs(adjust_short) * pro_rata_short * K / port_short['rR'] // lot)*lot
shares_adj_short = np.maximum(risk_adj_short,port_short['Shares'])*np.sign(adjust_short)

In [381]:
shares_adj_short

1    -683.0
2     285.0
5    3571.0
6    -319.0
9       NaN
dtype: float64

In [382]:
port['Qty_adj'] = shares_adj_short.append(shares_adj_long)
# port['Qty_adj'] = shares_adj_long
port['Shares_adj']  = port['Shares'] + port['Qty_adj']
port['rRisk_adj'] = -round(np.maximum(0,(port['rR'] * port['Shares_adj'])/K),4)
MV_adj= port['Shares_adj'] * port['Price']
rMV_adj = port['Shares_adj'] * port['rPrice']
port['Weight_adj'] = round(MV_adj.div(abs(MV_adj).sum()),3)

print(port[['Side','rRAR','rRisk','rRisk_adj','Shares','Qty_adj', 'Shares_adj', 'Weight','Weight_adj']].groupby('Side').sum())

AttributeError: 'Series' object has no attribute 'append'

In [ ]:
port[['Side','rRAR','rRisk','rRisk_adj','Shares','Qty_adj', 'Shares_adj', 'Weight','Weight_adj']].groupby('Side').sum()

In [ ]:
port[['Side','rRAR','rRisk','rRisk_adj','Shares','Qty_adj', 'Shares_adj', 'Weight','Weight_adj']].sort_values(
        by=['Side','rRisk_adj' ], ascending=[True,False])

In [ ]:
print('Gross Exposure',gross,'Net Exposure',net,'Net Beta',net_Beta,'concentration',concentration)
gross_adj = round(abs(MV_adj).sum() / K,3) 
net_adj = round(MV_adj.sum()/abs(MV_adj).sum(),3)
net_Beta_adj = round((MV_adj* port['Beta']).sum()/abs(MV_adj).sum(),2)
net_pos_adj = port.loc[port['Shares_adj'] >0,'Shares_adj'].count()-port.loc[port['Shares_adj'] <0,'Shares_adj'].count()
print('Gross Exposure adj',gross_adj,'Net Exposure_adj',net_adj,
      'Net Beta_adj',net_Beta_adj,'concentration adj',net_pos_adj)
rnet_adj = round(rMV_adj.sum()/abs(rMV_adj).sum(),3)
rnet_Beta_adj = round((rMV_adj* port['Beta']).sum()/abs(rMV_adj).sum(),2)
print('Gross Exposure adj',gross_adj,'rNet Exposure adj',rnet_adj,'rNet Beta adj',rnet_Beta_adj)